*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator-page {
    min-height: 100vh;
    background-image: linear-gradient(to right, #9ca8e8, #313269);
}    

.calculator {
    max-width: 380px;
    margin: 0 auto;
    background-color: #392f2f00;
    border-radius: 20px;
    padding: 30px;
    color: white;
    box-shadow: 0 5px 10px rgba(37, 37, 37, 0.3);
}

.calculator__display{
    font-weight: 200;
    padding: 15px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    border-radius: 25px;
    border: 1px solid rgb(146, 70, 70);
    background-color: #5d5ebb;
    text-align: right;
    white-space: nowrap;
}

.calculator__history{
    font-size: 18px;
    font-weight: 100;    
}

.calculator__output {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
}

.calculator__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 60px;
    gap: 20px;
}